.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
  color: #000000;
}

@mixin style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.not-show {
  display: none;
}

$sub-color:#444444;
$main-bg-color:#62d1ba;
$sub-bg-color:#63d1bb;
$main-white: #ffffff;
$bg-form:#f1f1f1;
$bg-toy: #56c3b2;
$border-top:#ececec;
$bg-footer:#f1f1f1;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
