.about {
  line-height: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2px;
}

.about__wrapper {
  margin-right: 30px;
  margin-left: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 110px;
    margin-left: 207px;
  }
}

.about__tittle {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 82px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 96px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  @include style-none;

  @media (min-width: $tablet-width) {

    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    height: 420px;
    align-content: flex-start;
  }
}


.about__item {
  margin-bottom: 83px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 100px;

    &:nth-child(3n) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
    width: max-content;
    margin-left: 0;
    margin-right: 120px;

    &:nth-child(3n) {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 58px;
  }

  &:first-child::before {
    content: "";
    width: 33px;
    height: 38px;
    background-image: url("../img/icons/ecologic.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    bottom: 55px;
    left: 7px;
  }

  &:nth-child(2)::before {
    content: "";
    width: 47px;
    height: 27px;
    background-image: url("../img/icons/money.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    bottom: 65px;
  }

  &:nth-child(3)::before {
    content: "";
    width: 34px;
    height: 27px;
    background-image: url("../img/icons/like.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    bottom: 60px;
    left: 7px;
  }

  &:nth-child(4)::before {
    content: "";
    width: 35px;
    height: 34px;
    background-image: url("../img/icons/handmade.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    bottom: 55px;
    left: 3px;
  }

  &:nth-child(5)::before {
    content: "";
    width: 55px;
    height: 23px;
    background-image: url("../img/icons/nation.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    bottom: 65px;
    left: -7px;
  }

  &:last-child::before {
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("../img/icons/present.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    bottom: 58px;
    left: 3px;
  }
}
