.description {
  display: flex;
  flex-direction: column;
  height: 302px;
}

.description__title {
  @include style-none;
  height: 177px;
  font-size: 27px;
  line-height: 30px;
  background-color: $bg-form;
  text-align: center;
  padding-top: 74px;
  margin-left: -29px;
  margin-right: -29px;

  @media (min-width: $tablet-width) {
    height: 226px;
  }

  @media (min-width: $desktop-width) {
    height: 272px;
  }
}

.description__form {
  margin-top: 17px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 54px;
  }

  @media (min-width: $desktop-width) {
    height: 98px;
  }
}
