.feedback {
  display: flex;
  flex-direction: column;
  border: 0 none;
}

.feedback__contacts {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $sub-bg-color;
}

.feedback__block {
  position: relative;

  & hr {
    position: absolute;
    left: 80px;
    top: 0;
    border-color: $main-bg-color;
    background-color: $main-bg-color;
  }
}

.feedback__contacts-input {
  border: none;
  line-height: 18px;
  border-bottom: 2px solid $sub-color;
  height: 52px;

  & ::placeholder {
    font-weight: 400;
  }
}
