
.filter-color {
  border: 0 none;
  position: relative;
  margin-top: -30px;


  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    background-color: $bg-form;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 85px;
  }
}


.filter-color__name {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $sub-bg-color;
  position: relative;
  left: -15px;
  top: 5px;

  &::after {
    content: "";
    position: absolute;
    left: 60px;
    bottom: 9px;
    width: 200px;
    height: 1px;
    border-bottom: 1px solid $main-bg-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 62px;
    padding-left: 10px;
    left: -3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 80px;
    padding-left: 70px;
    top: 5px;
  }
}


.filter-color__list {
  @include style-none;
  position: relative;
  left: -12px;

  @media (min-width: $tablet-width) {
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    top: -70px;
    left: 28px;
    padding-left: 175px;
  }

  @media (min-width: $desktop-width) {
    height: 228px;
    padding-left: 55px;
  }
}


.filter-color__items {
  position: relative;
  margin-left: 61px;
  margin-bottom: 35px;

  &:first-child {
    margin-top: 30px;

    @media (min-width: $tablet-width) {
      margin-top: 50px;
    }

    @media (min-width: $desktop-width) {
      top: 5px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 166px;
    margin-top: 60px;
    margin-bottom: -13px;
    font-size: 19px;
    margin-right: 26px;
  }

  @media (min-width: $desktop-width) {
    height: 25px;
  }
}


.filter-color__checkbox + label::before {
  content: "";
  position: absolute;
  left: -64px;
  bottom: -7px;
  width: 35px;
  height: 35px;
  border: 2px solid $sub-color;

  @media (min-width: $tablet-width) {
    width: 51px;
    height: 51px;
    left: -86px;
  }
}

.filter-color__checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -54px;
  bottom: 5px;
  width: 23px;
  height: 16px;
  background: url("../../img/icons/check-box-tick.svg") no-repeat;

  @media (min-width: $tablet-width) {
    bottom: 6px;
    left: -72px;
    width: 32px;
    height: 22px;
  }
}

.filter-color__checkbox:hover + label::before {
  border: 2px solid #62d1ba;
}

.filter-color__checkbox:active + label::before {
  border: 2px solid $sub-color;
  opacity: 0.3;
}
