.filter form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 206px 304px 304px 228px 245px auto;
  }
}

.filter__wrapper {
  @media (min-width: $tablet-width) {
    grid-row: 6/7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    margin-top: 50px;
  }
}

.filter__text {
  font-size: 14px;
  line-height: 16px;
  color: $sub-color;

  @media (min-width: $tablet-width) {
    grid-row: 1/-1;
    grid-column: 2/3;
    text-align: end;
  }
}

.filter__button {
  color: $sub-color;
  width: 100%;
  height: 52px;
  font-size: 17px;
  line-height: 16px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 2px solid $sub-color;
  background-color: $main-white;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
}
