.footer {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    margin-top: 55px;
    justify-content: space-around;
  }
}

.footer__logo {
  @media (min-width: $tablet-width) {
    display: inline-block;
  }

  & svg {
    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

.footer__social-net {
  @include style-none;
  display: flex;
  gap: 41px;
  height: 28px;
  margin-top: 25px;

  @media (min-width: $tablet-width) {


    margin-top: 0;
  }
}

.footer__button-network {
  & svg {
    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

.footer__copyright {
  margin-top: 42px;
  margin-bottom: 31px;
  height: 34px;

  @media (min-width: $tablet-width) {

    margin-top: -15px;
  }
}

.footer__copyright-button {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;

  & img {
    width: 27px;
    height: 34px;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}
