.footer {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    margin-top: 0;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    height: 143px;
  }
}

.footer__logo {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  & svg {
    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
    position: relative;
    left: -70px;
  }
}

.footer__social-net {
  @include style-none;
  display: flex;
  gap: 41px;
  height: 28px;
  padding-top: 35px;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 0;

    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
    position: relative;
    left: -10px;
  }
}

.footer__button-network {
  & svg {
    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

.footer__copyright {
  margin-top: 40px;
  margin-bottom: 31px;
  height: 34px;

  @media (min-width: $tablet-width) {

    margin-top: -15px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    position: relative;
    left: 55px;
  }
}

.footer__copyright-button {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;

  & img {
    width: 27px;
    height: 34px;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}
