.full-name {
  display: flex;
  flex-direction: column;
  border: 0 none;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content min-content min-content;
  }
}


.full-name__title {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $sub-bg-color;


  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
}

.full-name__about {
  & :first-child {
    @media (min-width: $tablet-width) {
      grid-column: 2/3;
      grid-row: 1/2;
      background-color: firebrick;
    }
  }

  & :nth-child(2) {
    @media (min-width: $tablet-width) {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }

  & :last-child {
    @media (min-width: $tablet-width) {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }
}


.full-name__name {
  line-height: 18px;
}

.full-name__name-input {
  border: none;
  border-bottom: 2px solid $sub-color;
  height: 52px;

  & ::placeholder {
    font-weight: 400;
  }

  @media (min-width: $tablet-width) {
    width: 80%;
  }
}
