.full-name {
  display: flex;
  flex-direction: column;
  border: 0 none;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: min-content 3fr;
    grid-template-rows: min-content min-content min-content;
    margin-top: 19px;
  }
}


.full-name__title {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $sub-bg-color;
  position: relative;
  top: 5px;
  left: -15px;

  &::after {
    content: "";
    position: absolute;
    left: 60px;
    bottom: 9px;
    width: 200px;
    height: 1px;
    border-bottom: 1px solid $main-bg-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/-1;
    top: 75px;
    left: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 65px;
    width: min-content;
  }
}

.full-name__about {

  margin-left: -15px;
  margin-top: 15px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-left: 120px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      margin-top: 20px;
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      margin-top: 18px;
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }
}


.full-name__name {
  line-height: 18px;
  position: relative;
  top: 6px;
}

.full-name__name-input {
  outline: none;
  border: none;
  border-bottom: 2px solid  $black;
  height: 52px;
  width: 100%;

  &::placeholder {
    font-weight: 400;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 80%;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-bottom: 2px solid $main-bg-color;
  }
}

.full-name__name-input:hover::placeholder,
.full-name__name-input:active::placeholder {
  border: none;
}

.full-name__name-input:active::placeholder {
  opacity: 1;
  color: $sub-color;
}
