.page-header {
  margin-left: 29px;
  margin-right: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-header__toggle-close {
  height: 20px;
  width: 21px;
  border: none;
  background: url("../img/icons/menu-close.svg") no-repeat;
  grid-column: 2/3;
  text-align: end;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.page-header__toggle-open {
  height: 20px;
  width: 21px;
  border: none;
  background: url("../img/icons/menu-open.svg") no-repeat;
  text-align: end;
  grid-column: 2/3;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo:nth-child(1) {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo:nth-child(2) {
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 39px;
  }

  @media (min-width: $desktop-width) {
    left: 50%;
  }
}
