.interior {
  background: $sub-bg-color;

  & svg {
    position: absolute;
    right: 35px;
  }

  &:hover {
    background-color: #59d5bc;

    & svg {
      opacity: 0.7;
    }
  }

  &:active {
    background-color: #59d5bc;

    & svg {

      opacity: 0.3;
    }
  }
}
