.page__body {
  min-width: 320px;
  height: 100%;
  font-size: 17px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.page__footer {
  height: 160px;
  background-color: $bg-footer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.page__title {
  @include style-none;
  display: flex;
  height: 177px;
  font-size: 27px;
  line-height: 30px;
  background-color: $bg-form;
  align-items: center;
  justify-content: center;
  margin-left: -29px;
  margin-right: -29px;
}
