.page__body {
  min-width: 320px;
  height: 100%;
  font-size: 17px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.page__footer {
  height: 160px;
  background-color: $bg-footer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.page__title {
  @include style-none;
  display: flex;
  height: 177px;
  font-size: 27px;
  line-height: 30px;
  background-color: $bg-form;
  align-items: center;
  justify-content: center;
  margin-left: -29px;
  margin-right: -29px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 226px;

    &::before {
      content: "";
      height: 24px;
      width: 100%;
      bottom: -5px;
      left: 1px;
      position: absolute;
      background: url("../img/bg/zigzag-fill-tablet.svg") repeat-x bottom;
      z-index: 10;
    }
  }

  @media (min-width: $desktop-width) {
    height: 272px;

    &::before {
      content: "";
      height: 34px;
      width: 100%;
      bottom: -15px;
      position: absolute;
      left: 1px;
      background: url("../img/bg/zigzag-fill-desktop.svg") repeat-x bottom;
      z-index: 10;
    }
  }
}
