.process {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  border: 1px solid #ececec;
  width: 260px;
  margin-left: 7px;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-top: 53px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;
  }


  @media (min-width: $desktop-width) {
    margin-top: 57px;
    grid-template-rows: min-content min-content min-content;
  }
}

.process__title {
  margin-left: 91px;
  margin-right: 39px;
  font-size: 17px;
  line-height: 24px;
  padding-top: 10px;
  position: relative;
  margin-bottom: 26px;

  &::before {
    content: "";
    width: 32px;
    height: 22px;
    background-image: url("../img/icons/cam.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    left: -55px;
    top: 20px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.process__img {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
}

.process__discraption {
  margin-left: 34px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $sub-color;
  margin-bottom: 41px;
  overflow-wrap: break-word;
  margin-top: -70px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.process__button-video {
  border: none;
  width: 80px;
  height: 74px;
  position: relative;
  top: -145px;
  left: 80px;
  background-color: transparent;

  & svg {
    &:hover {
      width: calc(1.2*100px);
      height: calc(1.2*76px);
    }
  }
}

.process__button {
  margin: 1px 34px 91px;
  border: 2px solid $sub-color;
  color: $sub-color;
  font-size: 18px;
  line-height: 16px;
  background-color: $main-white;
  padding: 15px 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 4/5;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  &:hover {
    background-color: $sub-color;
    color: $main-white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $sub-color;
  }
}
