.reviews {
  margin-left: 29px;
  margin-right: 29px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content;
  }
}

.reviews__title {
  font-size: 30px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {

    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.reviews__list {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $sub-color;

  @media (min-width: $tablet-width) {

    grid-column: 1/2;
    grid-row: 2/3;
    align-self: end;
  }
}

.reviews__item {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg/review.png");
    background-repeat: no-repeat;
  }
}

.reviews__text {
  overflow-wrap: break-word;
}

.reviews__wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {

    grid-column: 2/3;
    grid-row: 2/3;
    align-self: end;
  }
}

.reviews__author-name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 17px;

  & span {
    line-height: 24px;
    font-weight: 700;
  }
}

.reviews__button-prev {
  width: 100%;
  height: 52px;
  border: 1px solid $border-top;
  background-color: $main-white;
  background-image: url("../img/icons/huge-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {

    border: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


.reviews__button-next {
  width: 100%;
  height: 52px;
  border: 1px solid $border-top;
  background-color: $main-white;
  background-image: url("../img/icons/huge-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {

    border: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


.reviews__write {
  width: 100%;
  height: 52px;
  background: $main-white;
  border: 2px solid $sub-color;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {

    grid-column: 2/3;
    grid-row: 1/2;
    width: 175px;
    height: 52px;
    font-size: 17px;
  }

  &:hover {
    background-color: $sub-color;
    color: $main-white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $sub-color;
  }
}
