.top {
  display: flex;
  flex-direction: column;
  margin-left: 29px;
  margin-right: 29px;

  & img {
    align-self: center;
  }
}

.top__item {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 5px;
}

.top__week {
  line-height: 20px;
  color: $sub-bg-color;
  margin-bottom: 20px;
}

.top__description {
  font-size: 15px;
  color: $sub-color;
  margin-bottom: 26px;
}

.top__specifications {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 28px;
  border-collapse: collapse;

  & tr {
    height: 39px;
  }

  & th {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    width: 97px;
    text-align: start;
    border-bottom: 1px solid $border-top;
  }

  & td {
    border-bottom: 1px solid $border-top;
  }
}

.top__price {
  margin-top: 26px;
  margin-bottom: 25px;
  text-align: center;
}

.top__button {
  font-size: 18px;
  line-height: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid $sub-color;
  background-color: $main-white;
}
