.toy {
  background: $bg-toy;


  & svg {
    position: absolute;
    right: 50px;
  }

  &:hover {
    background-color: #46c1ae;

    & svg {
      opacity: 0.7;
    }
  }

  &:active {
    background-color: #46c1ae;

    & svg {

      opacity: 0.3;
    }
  }
}
